@media (min-width: 640px) {
  .flex {
    display: -webkit-flex;
    display: flex;
  }
  .flex > div[class*='col-xs']:not(.fixed) {
    flex:1 1 auto;
  }
  .column-1 {
    width: 50% !important;
  }
  .column-2 {
    width: 50%;
  }
  .column-3 {
    display: none;
  }
}
@media (min-width: 768px) {
  .flex {
    display: -webkit-flex;
    display: flex;
  }
  .flex > div[class*='col-sm']:not(.fixed) {
    flex:1 1 auto;
  }
}
@media (min-width: 992px) {
  .flex {
    display: -webkit-flex;
    display: flex;
  }

  .flex > div[class*='col-md']:not(.fixed) {
    flex:1 1 auto;
  }

  .column-1 {
    max-width: 320px;
  }

  .column-2 {
    max-width: 420px;
    min-width: 370px;
  }
  .column-3 {
    display: block;
  }
}
@media (min-width: 1200px) {
  .flex {
    display: -webkit-flex;
    display: flex;
  }
  .flex > div[class*='col-lg']:not(.fixed) {
    flex:1 1 auto;
  }

  .column-2 {
    min-width: 420px;
  }
}

.columns {
  .header {
    color: $primary-blue;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 0 6px;
    position: relative;

    &:before {
      content: "";
      display: block;
      border-top: solid 1px $primary-blue;
      width: 100%;
      height: 1px;
      position: absolute;
      top: 50%;
      z-index: 1;
    }

    &.header-1 span {
      background: $column-1-bg;
    }

    &.header-2 span {
      background: $column-2-bg;
    }

    &.header-3 span {
      background: $column-3-bg;
    }

    span {
      z-index: 5;
      padding-right: 5px;
      position: relative;
    }
  }

  .column-1 {
    width: 100%;
    background-color: $column-1-bg;
  }

  .column-2 {
    background-color: $column-2-bg;
  }

  .column-3 {
    background-color: $column-3-bg;
    min-width: 320px;
    width: 100%;
  }
}