.column-1 {
  width: 100%;
}
.column-2, .column-3 {
  display: none;
}
@media (min-width: 640px) {
  .flex {
    display: -webkit-flex;
    display: flex;
  }
  .flex > div[class*='col-xs']:not(.fixed) {
    flex:1 1 auto;
  }
  .column-1 {
    width: 50%;
  }
  .column-2 {
    width: 50%;
    display: block;
  }
  .column-3 {
    display: none;
  }
}
@media (min-width: 768px) {
  .flex {
    display: -webkit-flex;
    display: flex;
  }
  .flex > div[class*='col-sm']:not(.fixed) {
    flex:1 1 auto;
  }
  .column-1 {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .flex {
    display: -webkit-flex;
    display: flex;
  }
  .flex > div[class*='col-md']:not(.fixed) {
    flex:1 1 auto;
  }
  .column-1 {
    min-width: 320px;
  }
  .column-2 {
    max-width: 420px;
    min-width: 370px;
  }
  .column-3 {
    display: block;
  }
}
@media (min-width: 1200px) {
  .flex {
    display: -webkit-flex;
    display: flex;
  }
  .flex > div[class*='col-lg']:not(.fixed) {
    flex:1 1 auto;
  }
  .column-1 {
    max-width: 320px;
  }
  .column-2 {
    min-width: 420px;
  }
}
.column-header {
  color: $primary-blue;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 0 10px;
  position: relative;
  text-align: left;

  &:before {
    content: "";
    display: block;
    border-top: solid 1px $primary-blue;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 45%;
    z-index: 1;
  }
  &.header-1 span {
    background: $column-1-bg;
  }
  &.header-2 span {
    background: $column-2-bg;
  }
  &.header-3 span {
    background: $column-3-bg;
  }
  &.post-right-col-header span {
    background: #f5f5f5;
  }
  span {
    z-index: 5;
    padding-right: 5px;
    position: relative;
  }
}
.columns {
  .column-1, .column-2, .column-3 {
    padding-left: 20px;
    padding-right: 20px;

    .post-meta-info {
      font-size: 12px;
    }
  }
  .thumbnail {
    padding: 0;
    border: 0;
  }
  .category-label {
    display: block;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    color: #999;
  }
  .post {
    &:hover {
      .post-age, .post-views {
        display: none;
      }
      .quick-share {
        display: block;
      }
    }
    .post-age {
      float: left;
      margin-left: 3px;
    }
    .post-views {
      float: right;
    }
    .post-views, .post-age {
      color: #c0c0c0;
    }
    .quick-share {
      display: none;
      float: left;
      .twitter-share-button {
        position: relative !important;
        bottom: -7px;
      }
    }
    .post-meta-info {
      height: 25px;
      padding-top: 5px;
    }
  }
  .column-1 {
    background-color: $column-1-bg;
    .post {
      height: 100px;
      margin-bottom: 15px;

      .post-thumbnail {
        display: inline-block;
        float: left;
        width: 80px;
        height: 80px;
        margin-right: 12px;
        background-image: url('http://placehold.it/160x80');
        background-position: center;
        background-size: cover;
      }
      .twitter-share-button {
        position: relative !important;
        bottom: -6px;
      }
      a, a:hover {
        color: #7C7C7C;
      }
      .post-title {
        font-weight: 500;
        display: block;
      }
      .post-age {
        margin-left: 0;
      }
      img {
        max-width: 100px;
        float: left;
        padding-right: 13px;
      }
    }
  }
  .column-2 {
    background-color: $column-2-bg;

    .post {
      margin-bottom: 15px;
      a, a:hover {
        color: #333333;
      }
    }
    .post-meta-info {
      padding-top: 0;
    }
    .quick-share {
      position: relative !important;
      top: -3px !important;
    }
    .caption {
      span {
        display: inline-block;
        margin-left: 3px;
        line-height: 20px;
      }
      font-size: 1.3em;
      font-weight: 300;
    }
    .quick-share {
      position: relative;
      top: -5px;
    }
    .twitter-share-button {
      bottom: -4px !important;
    }
  }
  .column-3 {
    background-color: $column-3-bg;
    min-width: 320px;
    width: 100%;
    text-align: center;

    a {
      color: #333;
    }
    .category-label {
      padding-bottom: 2px;
    }
    .header {
      text-align: left !important;
    }
    .post {
      margin-bottom: 30px;

      .post-meta-info {
        position: relative;
      }
      .caption {
        width: 96%;
        height: 40px;
        background:white;
        padding: 11px;
        font-size: 20px;
        display: inline-table;
        text-align: left;
      }
      .quick-share {
        position: absolute;
        left: 0;
        bottom: 0;

        .twitter-share-button {
          position: relative !important;
          bottom: -6px;
        }
      }
    }
  }
}