.search-dropdown, .social-networks {
  display: none !important;
}

@media (min-width: 640px) {
  .item-8, .item-7, .item-6,
  .item-5, .item-4, .item-3 {
    display: none !important;
  }

  .search-dropdown, .social-networks {
    display: inline !important;
  }

  .navbar-right {
    display: inline-block;
  }
}
@media (min-width: 768px) {
  .item-3, .item-4 {
    display: inline !important;
  }

  .navbar-right {
    display: inline-block;
  }
}
@media (min-width: 992px) {
  .item-5, .item-6 {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .item-7, .item-8 {
    display: inline !important;
  }
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
  background-color: $primary-blue;
  border-color: #337ab7;
}
.navbar {
  background: white;
  text-transform: uppercase;
  font-size: 0.9em;

  &.navbar-right {
    display: none;
  }
  li {
    .dropdown-menu {
      border: 0;
      border-bottom: 5px solid green !important;
      border-color: $primary-blue !important;
      @include border-radius(0)
    }
    &:hover {
      a {
        background-color: $primary-blue;
        color: white;
      }
    }
    a {
      color: #a8a8a8;
      font-weight: 700;
    }

    img {
      &.social-networks-white {
        display: none;
      }
    }
  }
  .social-networks {
    &:hover {
      .social-networks-gray {
        display: none;
      }
      .social-networks-white {
        display: inline;
      }
    }
    .dropdown-menu {

      padding: 15px;
      border: 0;
    }
  }
  .search {
    min-width:350px;
    padding: 15px;

    .search-input {
      width: 250px;
    }
    button {
      font-size: 11px;
    }
  }
  .icon-bar {
    background-color: black !important;
  }
}
.navbar-brand {
  padding: 6px 15px 15px 15px !important;

  img {
    height: 40px;
  }
}